@use "../node_modules/bootstrap/scss/bootstrap";

$primary: rgb(25, 35, 45);
$secondary: rgb(200, 210, 220);
$text-primary: rgb(220, 230, 240);
$text-secondary: rgb(15, 25, 35);

html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
}

body {
	color: $text-primary;
	background-color: $primary;
}

#titleBar {
	background-color: $secondary;
}

#logo {
	display: inline-flex;
	align-items: center;
	font-size: 40px;
	font-weight: 500;
	font-family: cursive;
}

#logoImage {
	height: 60px;
	width: 60px;
}

.dropdown-menu {
	& {
		background-color: $primary;
		color: $text-primary;
	}
}

.dropdown-toggle {
	border: 0;

	&.show {
		background-color: darken($secondary, 10);
	}
}

.dropdown-item {
	color: $text-primary;

	&:hover {
		background-color: $secondary;
		color: $text-secondary;
	}
}

.dropdown-item:hover {
	background-color: $secondary;
	color: $text-secondary;

	a {
		background-color: $secondary;
		color: $text-secondary;
	}
}

#assetCard-xl {
	width: 300px;
	height: 200px;
	margin-bottom: 20px;
	color: $text-primary;
	position: relative;
	overflow: hidden;
}

#assetCard-xl:hover {
	width: 300px;
	height: 200px;
	margin-bottom: 20px;
	color: rgba(15, 25, 35, 0);
	position: relative;
	overflow: hidden;
}

.card-img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.card-img-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	transition: opacity 0.3s ease;
}

.card-img-overlay:hover {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.0);
	transition: opacity 0.3s ease;
}

#more-assets-button {
	width: 100%;
	height: 120px;
	font-size: 40px;
	font-weight: 500;
	color: $text-secondary;
	background-color: $secondary;
}

#topAssetBar {
	padding-block: 1rem;
}

.col {
	place-items: center;
}

#asset-search-form {
	gap: 20px;
}

a {
	color: $text-primary;
	text-decoration: none;
}

.accordion {
	background-color: $primary;
	color: $text-primary;
	text-align: center;
	font-weight: bold;
	padding: 10px;
	width: 100%;
	border-radius: 0.25rem;
	display: block;
	border: none;
}

.accordion-button {
	background-color: $primary;
	color: $text-primary;
	text-align: center;
	font-weight: bold;
	padding: 10px;
	width: 100%;
	border-radius: 0.25rem;
	display: block;
	border: none;
}

.accordion-header:focus {
	box-shadow: none;
}

.accordion-body {
	padding: 15px;
	background-color: $primary;
}

.checkbox label {
	display: flex;
	align-items: center;
	margin-bottom: 8px;
}

.accordion-button:not(.collapsed) {
	background-color: $secondary;
	color: $text-secondary;
	text-align: center;
	font-weight: bold;
	padding: 10px;
	width: 100%;
	border-radius: 0.25rem;
	display: block;
	border: none;
	box-shadow: none !important;
	border: none !important;
}

.accordion-button:focus,
.accordion-button:active {

	box-shadow: none !important;
	border: none !important;
}

.accordion-button::after {
	transform: none !important;
	filter: none !important;
	box-shadow: none !important;
}